.product{
    
    display: flex;
    flex-direction: column;
    
    justify-content: flex-end;
    margin:10px;
    padding: 20px;
    
    max-height: 50%;
    min-width: 30%;
    background-color : white;
    z-index: 1;
    
    
}
.product_info{
    height: 100px;
    margin-bottom: 15px;
}
.product__image{
    max-height: 200px;
    width:100%;
    object-fit: contain;
    margin-bottom: 15px;
    
}
.product__price{
    margin-top: 5px;
}
.product__display{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.product__button{
    background-color: #f0c14b;
    border: 1px solid;
   
}